body, ul, li {
    padding: 0;
    margin: 0;
}
body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    height:2500px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.topbar{
     background: rgb(51,51,51);
    height: 40px;
}
.container{
    width: 1226px;
    margin: 0 auto;
    color: #eeeeee;
}
.container::before, .container::after,
.clearfix::before, .clearfix::after{
    content: "";
    display: table;
}
.container::after, .clearfix::after{
    clear: both;
}
.topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 0px;
}
.topbar-cart,.topbar-info{
    float: right;

}
.container a{
    color: rgb(176, 176, 176);
    font-size: 12px;
}
.container a:hover{
    color:#fff;
}
.topbar-nav span{
    height:40px;
    line-height: 40px;
    font-family:sans-serif;
    font-size:12px;
    color: #424242;
    padding:0 6px;
}
.topbar-cart a{
    display:block;
    width:120px;
    background-color:#424242;
    height:40px;
    line-height:40px;
    text-align: center;
}
.topbar-cart a:hover{
    background-color:#fff;
    color:#ff6600;
}
.topbar-info a{
    float: left;
    height:40px;
    line-height:40px;
}
.topbar-info{
    width:152px;

}
.topbar-info span{
    float: left;
    height:40px;
    line-height: 40px;
    font-family:sans-serif;
    font-size:12px;
    color: #424242;
    padding:0 6px;
}

/* header */
.header{
    height:100px;
}
.header-logo{
    float:left;
    width:62px;
    margin-top:22px;
}
.header-logo a{
    display: block;
    height:55px;
    width:55px;
    background: #ff6700;
    color: white;
    font-size:20px;
    line-height:55px;
    text-align:center;
}
/* nav */
.header-nav{
    float: left;
    width:820px;
    height:100px;
}
.header-nav .nav-list{
    width:820px;
    height: 88px;
    padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category{
    float: left;
    width: 127px;
    padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-category a{
    display:block;
    text-align: right; 
    padding: 26px 0 38px;
    font-size: 16px;
    color:#333;
}

.header-nav .nav-list .nav-item{
    float: left;
}
.header-nav .nav-list .nav-item a{
    display: block;
    font-size: 16px;
    padding: 26px 10px 38px;
    color: #333;
}
.header-nav .nav-list .nav-item a:hover{
    color:#ff6700;
}
/* search */
.header-search{
    float: right;
    width: 296px;
    height: 50px;
    margin-top:25px;
}
.header-search .search-form{
    position: relative;
    display: block;
    width: 296px;
    height: 50px;
    
}
.header-search .search-form .search-text{
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 245px;
    height: 50px;
    line-height: 50px;
    outline: 0;
    border: 1px solid #e0e0e0;
}
.header-search .search-form .search-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    outline: 0;
    border: 1px solid #e0e0e0;
    background-image: url(../img/search.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40% 40%;
}
.header-search .search-form .search-btn:hover{
    background-color:#ff6700;
}

/* seckill */
.seckill{
    background-color: #f5f5f5;
}
.seckill-head{
    height:170px;
    margin-top:19px;
    background: url(../img/seckill-head.jpg) no-repeat 50% 0;
}
.seckill-nav ul{
    height: 68px;
    background:#414141;
}
.seckill-nav{
    margin:-68px 0 22px;
}
.seckill-nav li{
    display: block;
    float: left;
    width: 20%;
    height:68px;
    line-height:68px;
    color:white;
    cursor: pointer;
    text-align: center;
}
.seckill-nav li.active{
    background:#f1393a;
}
.seckill-nav li em{
    display: inline-block;
    margin-left: 30px;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}
.seckill-nav li span{
    display: inline-block;
    text-align: left;
    margin-left: 15px;
    font-size: 14px;
    line-height: 1.4;
    vertical-align: middle;
}

/* seckill goods */
.seckill-goods ul{
    margin-right: -13px;
}
.seckill-goods li{
    float: left;
    height: 190px;
    width: 400px;
    background: white;
    margin-right:13px;
    margin-bottom: 13px;
}
.seckill-goods .bg{
    float: left;
    width: 190px;
    height: 190px;
}
.seckill-goods .bg img{
    height:190px;
}
.seckill-goods .info{
    width: 190px;
    height:190px;
    margin-left:210px;
    padding-top:30px;
}
.seckill-goods .name{
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.seckill-goods .name:hover{
    color:#333;
}
.seckill-goods .tips{
    color:#999;
    font-size:12px;
    line-height:12px;
    margin-top:10px;
    margin-bottom: 0px;
}
.seckill-goods .price{
    font-size:16px;
    color:#f1393a;
    line-height:16px;
    margin-top:14px;
}
.seckill-goods del{
    color: #999;
    font-size:12px;
    margin-left:14px;
    line-height:12px;
}
.seckill-goods .btn{
    border: 1px solid #83c44e;
    margin-top:19px;
    font-size: 14px;
    text-align: center;
    color:#FFF;
    display: block;
    width:118px;
    height:28px;
    line-height: 28px;
    background: #83c44e
}
.seckill-goods .people{
    font-size:12px;
    color:#999;
    margin-top:10px;
    line-height: 12px;
}
.seckill-notice{
    font-size: 12px;
    color:#999;
    margin-top: 100px;
    padding-bottom: 35px;
}